<ion-header>
  <ion-toolbar>
    <ion-title>Ruta del Evento</ion-title>
    <ion-buttons slot="start">
      <ion-back-button default-href="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <ion-slides>
    <ion-slide>
      <img src="../../assets/media/generalPath.png">
      <h2 class="ion-text-uppercase">Recorrido</h2>
      <p>Las	3	distancias	comenzarán	en	el	Primer	Sector	de	la	Playa	Reñaca	 (Av.	Ignacio	Carrera	
          Pinto),	en	dirección	al	Sur.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/media/10path.png">
      <h2>Recorrido <b>10K</b></h2>
      <p>
        - <b>Comienza	en	Av.	Ignacio	Carrera	Pinto</b>  y	utilizara	la	calzada	completa	en	direccion	
        al	Sur,	por	Av.	Borgoño	(Calzada	Poniente),	Av. Jorge	Montt	(calzada	poniente),	Av.	
        San	Martin	(calzada	poniente). <br> <br>
        - Se	girará	en	“U”	a	la	altura	de	calle	10	Norte	para	devolverse	al	norte	por	Av.	San	
        Martin	(calzada	oriente),	Av.	 Jorge	Montt	 (calzada	oriente),	Av.	Borgoño	 (calzada	
        oriente). <br><br>
        - Retorno	en	cruce	de	Av.	Borgoño	altura	Av.	Ignacio	Carrera	Pinto	 (restaurante	La	
        Piccola	Italia). <br><br>
        - <b>Terminando	el	circuito	en	Av.	Ignacio	Carrera	Pinto	(altura	calle	Las	Gaviotas).</b> 
      </p>
      <h2>Altimetría</h2>
      <img src="../../assets/media/altometry10.jpg" alt="">
    </ion-slide>
  
    <ion-slide>
      <img src="../../assets/media/21path.png">
      <h2>Recorrido <b>21K</b></h2>
      <p>
        - <b>Comienza	en	Av.	Ignacio	Carrera	Pinto</b> y	utilizará la	calzada	completa	en	direccion	
        al	Sur,	por	Av.	Borgoño	(calzada	poniente),	Av.	Jorge	Montt	(calzada	poniente),	Av.	
        San	 Martin	 (calzada	 poniente),	 Puente	 Casino	 (calzada	 poniente),	 Av.	 Marina	
        (calzada	norte),	Av.	España	(calzada	norte),	Av.	Escuadra	Libertadora. <br> <br>
        - Av.	España	(2	pistas	norte	de	calzada	norte)	en	donde	se	girará	en	“U”	a	la	altura	del	
        acceso	principal	de	la	Universidad	Federico	Santa	María. <br><br>
        - Se	 devuelve	al	Norte	 por	Av.	España	 (2	 pistas	 norte	 calzada	 norte),	Av.	Escuadra	
        Libertadora,	 Av.	 España (calzada	 norte),	 Avenida	 Marina	 (calzada	 sur),	 Puente	
        Casino	(calzada	poniente),	Av.	San	Martin	(calzada	oriente),	Av.	Jorge	Montt	(calzada	
        oriente),	Av.	Borgoño	(calzada	oriente). <br><br>
        - <b>Retorno	 en	 cruce	 de	Av.	 Borgoño	altura	Av.	Ignacio	 Carrera	 Pinto	(Restaurante	
            Piccola	Italia).</b>  <br> <br>
        - Terminando	el	circuito	en	Av.	Ignacio	Carrera	Pinto	(altura	calle	Las	Gaviotas). 
      </p>
      <h2>Altimetría</h2>
      <img src="../../assets/media/altometry21.jpg" alt="">
    </ion-slide>

    <ion-slide>
      <img src="../../assets/media/42path.png">
      <h2>Recorrido <b>42K</b></h2>
      <p>
        - <b>Comienza	en	Av.	Ignacio	Carrera	Pinto</b> y	utilizará	la	calzada	completa	en	direccion	
        al	Sur,	por	Av.	Borgoño	(calzada	poniente),	Av.	Jorge	Montt	(calzada	poniente),	Av.	
        San	 Martin	 (calzada	 poniente),	 Puente	 Casino	 (calzada	 poniente),	 Av.	 Marina	
        (calzada	norte),	Av.	España	(calzada	norte),	Av.	Escuadra	Libertadora. <br> <br>
        - Av.	España	(2	pistas	norte	de	calzada	norte)	en	donde	se	girará	en	“U”	a	la	altura	de	
        la	Remodelación	Balmaceda.. <br><br>
        - Se	 devuelve	al	Norte	 por	Av.	España	 (2	 pistas	 norte	 calzada	 norte),	Av.	Escuadra	
        Libertadora,	 Av.	 España	 (calzada	 norte),	 Avenida	 Marina	 (calzada	 sur),	 Puente	
        Casino	(calzada	poniente),	Av.	San	Martin	(calzada	oriente),	Av.	Jorge	Montt	(calzada	
        oriente). <br><br>
        - Av.	Borgoño	(calzada	oriente),	en	donde	se	girará	en	U	a	la	altura	del	Pasaje	La	Boca	
        (Concón). <br> <br>
        - <b>Se	retoma	al	Sur	por	Av.	Borgoño	(calzada	poniente),	culminando	el	circuito	en	Av.	
            Ignacio	Carrera	Pinto	(altura	calle	Las Gaviotas).</b>  <br> <br>
        - Terminando	el	circuito	en	Av.	Ignacio	Carrera	Pinto	(altura	calle	Las	Gaviotas). 
      </p>
      <h2>Altimetría</h2>
      <img src="../../assets/media/altometry42.jpg" alt="">
    </ion-slide>
  </ion-slides>
</ion-content>
