// These rules style only will be apply to gallery page.

ion-toolbar {
    --background: #ffd915;
    --color: #000000;
    .ios ion-title {
        text-align: center;
        text-transform: uppercase!important;
    }
}

.image-container {
    min-width: 200px;
    min-height: 280px;
    background-size: cover;
}