@font-face {
    font-family: 'Montserrat Font';
    src: url('../assets/fonts/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Font';;
    font-style: normal;
    font-weight: bold;
    src: url('../assets/fonts/Montserrat-Bold.ttf')
}

@font-face {
    font-family: 'Montserrat Font';;
    font-style: italic;
    font-weight: normal;
    src: url('../assets/fonts/Montserrat-Italic.ttf')
}