
<ion-content fullscreen [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <ion-img src="../../assets/media/Header-Modify.png"></ion-img>

    <ion-grid>
      <ion-row>
        <ion-col>
          <button (click)="showTerms()" class="btn-base btn-info ion-text-center">Ver Bases</button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
            <button (click)="liveTracking()" class="btn-base btn-tracking ion-text-center ion-text-uppercase">live tracking</button>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-grid>
        <ion-row>
          <ion-col>
              <button (click)="showRoute()" class="btn-base btn-mapa  ion-text-center ion-text-uppercase">
                <ion-icon name="map" class="left-icon"></ion-icon>                
                ruta del evento
                <ion-icon name="pin" class="right-icon">
                </ion-icon>
              </button>
          </ion-col>
        </ion-row>
      </ion-grid>
 
    <ion-grid>
        <ion-row>
          <ion-col>
              <button color="warning" expand="full" (click)="registerPage()" 
              value="Inscribete" class="btn-base btn-register ion-text-center ion-text-uppercase">Inscribete</button>
          </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid padding class="padding-grid">
      <ion-row>
        <ion-col class="div-timer ion-tex-center ion-text-uppercase">
            <p id="timer"></p>
            <p id="txt-timer"> Días Hrs Min Seg</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-grid>
        <ion-row>
          <ion-col>
              <button color="warning" expand="full" (click)="showGallery()" 
              value="Inscribete" class="btn-base btn-gallery ion-text-center ion-text-uppercase">
              <ion-icon name="camera" class="left-icon"></ion-icon>
              galería</button>
          </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid class="social-media-section">
      <ion-row>
        <ion-col size="4">
          <button (click)="openFacebook('1407158042643236')" class="">
            <div class="ion-text-center"><ion-icon name="logo-facebook" size="large"></ion-icon>
              <div class="line-decoration">
                <div class="left-div"></div>
                <div class="center-div"></div>
                <div class="right-div"></div>
              </div>
            </div> 
          </button>
        </ion-col>

        <ion-col size="4">
          <button (click)="openInstagram('maratonvina')" class="">
            <div class="ion-text-center"><ion-icon name="logo-instagram" size="large"></ion-icon>
              <div class="line-decoration">
                <div class="left-div"></div>
                <div class="center-div"></div>
                <div class="right-div"></div>
              </div>
            </div> 
          </button>
        </ion-col>
        <ion-col size="4">
          <button (click)="openTwitter('maratonvina')" class="">
            <div class="ion-text-center"><ion-icon name="logo-twitter" size="large"></ion-icon>
              <div class="line-decoration">
                <div class="left-div"></div>
                <div class="center-div"></div>
                <div class="right-div"></div>
              </div>
            </div> 
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-grid padding class="padding-grid">
      <div class="border-grid">
        <ion-row class="">
          <ion-col align-self-center >
            <p><b>Viña del Mar, Chile</b></p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col *ngIf="weather; else elseBlock">
              <p><b>{{weather.daypart[0].temperatureHeatIndex[1]}}&deg;C</b></p>
              <ng-template #elseBlock>{{weather.daypart[0].temperatureHeatIndex[0]}}&deg;C</ng-template>
              <p>Temperatura</p>
          </ion-col>
          <ion-col *ngIf="weather; else elseBlock2">
            <img class="weatherImg" src="../../assets/media/PNGs/{{weather.daypart[0].iconCode[1]}}.png" alt="">
            <p>{{weather.daypart[0].wxPhraseLong[1]}}</p>
            <ng-template #elseBlock2>
              <img class="weatherImg" src="../../assets/media/PNGs/{{weather.daypart[0].iconCode[0]}}.png" alt="">
              <p>{{weather.daypart[0].wxPhraseLong[0]}}</p>
            </ng-template>
          </ion-col>
        </ion-row>
        <ion-row >
          <ion-col>
              <p>{{weather.dayOfWeek[1]}}</p>
              <img class="weatherImg" src="../../assets/media/PNGs/{{weather.daypart[0].iconCode[2]}}.png" alt="">
              <p>{{weather.temperatureMax[1]}}&deg;C</p>
              <p>{{weather.temperatureMin[1]}}&deg;C</p>
          </ion-col>
          <ion-col>
              <p>{{weather.dayOfWeek[2]}}</p>
              <img class="weatherImg" src="../../assets/media/PNGs/{{weather.daypart[0].iconCode[4]}}.png" alt="">
              <p>{{weather.temperatureMax[2]}}&deg;C</p>
              <p>{{weather.temperatureMin[2]}}&deg;C</p>
          </ion-col>
          <ion-col>
              <p>{{weather.dayOfWeek[3]}}</p>
              <img class="weatherImg"src="../../assets/media/PNGs/{{weather.daypart[0].iconCode[6]}}.png" alt="">
              <p>{{weather.temperatureMax[3]}}&deg;C</p>
              <p>{{weather.temperatureMin[3]}}&deg;C</p>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>

    <ion-grid padding class="padding-grid">
      <div class="border-grid">
        <p class="ion-text-center sponsorsP"><b>Patrocinadores</b></p>
        <ion-row class="sponsorsRow">
          <ion-col><p class="leftP">Auspician:</p></ion-col>
          <ion-col><p id="colabP">Colaboran:</p></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><img class="sponsorsImg" src="../../assets/media/istLogo.png" alt=""></ion-col>
          <ion-col><img class="sponsorsImg" src="../../assets/media/mitsubishiLogo.png" alt=""></ion-col>
          <ion-col><img class="sponsorsImg" src="../../assets/media/mallmarinaLogo.png" alt=""></ion-col>
          <ion-col><img class="sponsorsImg" src="../../assets/media/uvmLogo.png" alt=""></ion-col>
          <ion-col><img src="../../assets/media/gatoradeLogo.png" alt="" class="sponsorsImg"></ion-col>
          <ion-col><img src="../../assets/media/duocucLogo.png" alt="" class="sponsorsImg"></ion-col>
          <ion-col><img src="../../assets/media/sportsaludLogo.png" alt="" class="sponsorsImg"></ion-col>
        </ion-row>
        <ion-row class="sponsorsRow">
          <ion-col><p class="leftP">Patrocinan:</p></ion-col>
          <ion-col><p>Organizan:</p></ion-col>
          <ion-col><p>Certifican:</p></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><img src="../../assets/media/vinaEscudo.png" alt="" class="sponsorsImg"></ion-col>
          <ion-col><img src="../../assets/media/conconEscudo.svg" alt="" class="sponsorsImg"></ion-col>
          <ion-col><img src="../../assets/media/armadaEscudo.png" alt="" class="sponsorsImg"></ion-col>
          <ion-col><img src="../../assets/media/valparaisoLogo.png" alt="" class="sponsorsImg"></ion-col>
          <ion-col><img src="../../assets/media/gobLogo.png" alt="" class="sponsorsImg"></ion-col>
          <ion-col><img src="../../assets/media/deporteLogo.png" alt="" class="sponsorsImg"></ion-col>
          <ion-col><img src="../../assets/media/prokartLogo.svg" alt="" class="sponsorsImg"></ion-col>
          <ion-col><img src="../../assets/media/fullLogo.png" alt="" class="sponsorsImg"></ion-col>
          <ion-col><img src="../../assets/media/iaafLogo.png" alt="" class="sponsorsImg"></ion-col>
          <ion-col><img src="../../assets/media/atleticaLogo.png" alt="" class="sponsorsImg"></ion-col>
        </ion-row>
      </div>
    </ion-grid>

    <ion-footer>
      <ion-toolbar>
        <ion-title class="ion-text-center">Powered by&nbsp;&nbsp;
            <img src="../../assets/media/LogoNegros.png">
        </ion-title>
      </ion-toolbar>
    </ion-footer>

</ion-content>

