<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <img src="../../assets/media/Logo.png">
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div>

<!--
<ion-header>
  <ion-toolbar color="secondary"  [class.show-background]="showToolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home  
    </ion-title>
  </ion-toolbar>
</ion-header>
-->
<ion-toolbar color="secondary"  [class.show-background]="showToolbar">

</ion-toolbar>

<ion-content fullscreen>
  <ion-img src="../../assets/header-vina-2019.png"></ion-img>

    <ion-grid>
      <ion-row>
        <ion-col>
          <button (click)="showTerms()" class="btn-base btn-info ion-text-center">Ver Bases</button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col>
            <button (click)="showTerms()" class="btn-base btn-tracking ion-text-center ion-text-uppercase">live tracking</button>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-grid>
        <ion-row>
          <ion-col>
              <button (click)="showTerms()" class="btn-base btn-mapa  ion-text-center ion-text-uppercase">ruta del evento</button>
          </ion-col>
        </ion-row>
      </ion-grid>
 
    <ion-grid>
        <ion-row>
          <ion-col>
              <button color="warning" expand="full" (click)="registerPage()" 
              value="Inscribete" class="btn-base btn-register ion-text-center ion-text-uppercase">Inscribete</button>
          </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row>
        <ion-col class="div-timer ion-tex-center ion-text-uppercase">
            <p id="timer"></p>
            <p id="txt-timer"> Días Hrs Min Seg</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="ion-text-center ion-text-uppercase">
              galería
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-grid no-padding class="social-media-section">
      <ion-row>
        <ion-col size="4">
          <ion-card>
            <div class="ion-text-center"><ion-icon name="logo-facebook" size="large"></ion-icon>
              <div class="line-decoration">
                <div class="left-div"></div>
                <div class="center-div"></div>
                <div class="right-div"></div>
              </div>
            </div> 
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card>
            <div class="ion-text-center"><ion-icon name="logo-instagram" size="large"></ion-icon>
              <div class="line-decoration">
                <div class="left-div"></div>
                <div class="center-div"></div>
                <div class="right-div"></div>
              </div>
            </div> 
          </ion-card>
        </ion-col>
        <ion-col size="4">
          <ion-card>
            <div class="ion-text-center"><ion-icon name="logo-twitter" size="large"></ion-icon>
              <div class="line-decoration">
                <div class="left-div"></div>
                <div class="center-div"></div>
                <div class="right-div"></div>
              </div>
            </div> 
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="ion-text-center">Viña del Mar, Chile</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="ion-text-center ion-text-uppercase">Patrocinadores</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-footer>
      <ion-toolbar>
        <ion-title>Powered by</ion-title>
      </ion-toolbar>
    </ion-footer>

</ion-content>

