
/* Transparent standard */
ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
    --min-height: 20px;
}  

.show-background {
  background-color: #ffd915;
  color: #000000;
}

ion-content{
  background: #f7f6f6;
}

ion-grid {
  margin-bottom: -3px;
}

button {
  width: 100%;
  background-color: #ffffff;
}
.btn-base{
  color: #f7f6f6;
  font-size: 1.5em;
  font-family: 'Montserrat Font';
  font-weight: bold;

  width: 100%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0); 
  -webkit-transition: -webkit-transform .5s cubic-bezier(.12,.72,.29,1);
  transition: -webkit-transform .5s cubic-bezier(.12,.72,.29,1); 
  transition: transform .5s cubic-bezier(.12,.72,.29,1); 
  transition: transform .5s cubic-bezier(.12,.72,.29,1),-webkit-transform .5s cubic-bezier(.12,.72,.29,1); 
  -webkit-box-shadow: 0 4px 16px rgba(0,0,0,.12); 
  box-shadow: 0 4px 16px rgba(0,0,0,.12);
}

.btn-info {
  background-color: #ffd915;
  color: #000000;
  height: 3.250em;
  font-size: 1em;
  font-weight: normal;
}

.btn-tracking {
  background-image: url('../../assets/media/btn-tracking.PNG');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 3.250em;
}

.btn-mapa {
  background-image: url('../../assets/media/btn-mapa.jpg');
  background-repeat: no-repeat;
  background-position: center;
  height: 6.063em;
  background-size: cover;
}

.left-icon {
  position: absolute;
  top: 0;
  left: 0;
}

.right-icon {
  position: absolute;
  bottom: 0;
  right: 0;
}

.btn-register {
  background-image:url('../../assets/media/btn-inscribete.jpg')!important;
  background-repeat:no-repeat!important;
  background-position:center!important;
  height: 2.563em;
}

.padding-grid {
  //padding: 10px;
  padding: 5px 10px 6px 10px;
}

.div-timer{
  background-image: url('../../assets/media/Reloj.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  height: 3.5em;

  -webkit-transform: translateZ(0);
  transform: translateZ(0); 
  -webkit-transition: -webkit-transform .5s cubic-bezier(.12,.72,.29,1);
  transition: -webkit-transform .5s cubic-bezier(.12,.72,.29,1); 
  transition: transform .5s cubic-bezier(.12,.72,.29,1); 
  transition: transform .5s cubic-bezier(.12,.72,.29,1),-webkit-transform .5s cubic-bezier(.12,.72,.29,1); 
  -webkit-box-shadow: 0 4px 16px rgba(0,0,0,.12); 
  box-shadow: 0 4px 16px rgba(0,0,0,.12);
}

#timer {
  color: #f7f6f6;
  font-size: 1.5em;
  font-family: 'Montserrat Font';
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
}

#txt-timer{
  color: #ffd915;
  font-size: .9em;
  font-family: 'Montserrat Font';
  font-weight: bold;
  margin-top: auto;
}

.btn-gallery {
  background-image:url('../../assets/media/btn-galeria.PNG')!important;
  background-repeat:no-repeat!important;
  background-position:center!important;
  height: 2.563em;
}

.social-media-section button{
  padding: 0;
  border: 1px solid #c0c0c0;
}

.social-media-section ion-icon {
  color: #606060;
}

.border-grid {
  border: 1px solid #c0c0c0;
  text-align: center;
}

.card-app {
  background-color: #ffd915;
}

.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.sc-ion-card-ios-h  {
  margin-top: 6px!important;
}

.line-decoration {
  //margin: 0 -6px 0 -6px;
  padding-bottom: 12px;
}

.left-div {
  width: 50%;
  height: 5px;
  background-color: #002a3e;
  float: left; 
}

.center-div {
  width: 20%;
  height: 5px;
  background-color: #ffd915;
  float: left;
}

.right-div {
  width: 30%;
  height: 5px;
  background-color: #002a3e;
  float: left;
}

// Weather Section Style

.weatherImg {
  min-height: auto;
  max-width: 70%;
  max-height: 42px;
}

// Sponsors Section Style

.sponsorsImg {
  min-height: auto;
  max-width: 80%;
  max-height: 29px;
}

.sponsorsRow {
  height: fit-content;
  p {
    font-size: .7em;
    font-style: oblique;
  }
  .leftP {
    text-align: left;
    padding-left: 10%;
  }
  #colabP {
    text-align: left;
    padding-left: 20%;
  }
}

.sponsorsP {
  margin-bottom: 1%;
}

ion-footer {
  padding-bottom: 12px;
}

ion-footer ion-title {
  font-size: .56em;
}

ion-footer ion-img {
  position: absolute;
  top: 0;
  right: 34%;
  width: 5%;
}
