<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <img src="../../assets/Logo.png">
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div>

<ion-header>
  <ion-toolbar color="secondary"  [class.show-background]="showToolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home  
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen>
    <ion-card class="welcome-card">
      <ion-img src="../../assets/header-vina-2019.png"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Maratón 2019</ion-card-subtitle>
        <ion-card-title>Maratón Viña del Mar</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Información sobre el maratón.</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="welcome-card card-app">
      <ion-button color="warning" expand="full" (click)="showTerms()" class="btn-base">Ver Bases</ion-button>
    </ion-card>

    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="ion-text-center ion-text-uppercase">
              live tracking
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="ion-text-center ion-text-uppercase">
              ruta del evento
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
 
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="ion-text-center ion-text-uppercase">
              inscribete
            </div>
          </ion-col>
        </ion-row>
      </ion-grid> 
    </ion-card>

    <ion-card class="welcome-card">
      <div class="ion-text-center">
          <p id="cronometro"></p>
      </div>
    </ion-card>

    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="ion-text-center ion-text-uppercase">
              galería
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <div class="ion-text-center"><ion-icon name="logo-facebook" size="large"></ion-icon></div> 
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <div class="ion-text-center"><ion-icon name="logo-instagram" size="large"></ion-icon></div> 
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <div class="ion-text-center"><ion-icon name="logo-twitter" size="large"></ion-icon></div> 
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="ion-text-center">Viña del Mar, Chile</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="ion-text-center ion-text-uppercase">Patrocinadores</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-footer>
      <ion-toolbar>
        <ion-title>Powered by</ion-title>
      </ion-toolbar>
    </ion-footer>

</ion-content>

